---
apiVersion: v1
kind: Service
metadata:
  name: authelia
  namespace: {{ .Release.Namespace }}
  labels:
    app: authelia
spec:
  type: ClusterIP
  ports:
  - name: http
    port: {{ .Values.service.httpPort }}
    targetPort: http
    protocol: TCP
  - name: metrics
    port: {{ .Values.service.metricsPort }}
    targetPort: metrics
    protocol: TCP
  selector:
    app: authelia
