---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: authelia
  namespace: default
  labels:
    app: authelia
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`login.authoritah.com`)
    kind: Rule
    services:
    - name: authelia
      port: 9091
  tls:
    certResolver: dnschallenge
